<form action='/users/:id' method='POST'>
  <input type='hidden' value='put'>
  <label for='email'>E-Mail:</label>
  <input type='text' name='email' value=<%=@user.email%>>
  <input type='submit' name='Update User'>
</form>